/*geral*/
html{
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    max-width: 1900px;
}

body {
    background-color: rgb(225, 255, 255);
    min-width: 300px;
    max-width: 1900px;
}

/*login*/
header {
    background-color: #15dfdf;
    padding: 2%;
}

#header-login {
    color: white;
    margin: 3%;
    display: flex;
}

form {
    background-color: #15dfdf6a;
    margin: 10% 37% 0% 5%;
    padding: 7%;
    border-radius: 20px;
}

#senha-login {
    display: flex;
    justify-content: space-between;
    font-size: small;
    align-items: flex-end;
}

.mb-3.form-check {
    margin-bottom: 30px;
}

#btn-access {
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 3%;
    font-size: small;
}

h6 {
    font-size: small;
}

/*menu*/
#botao_titulo {
    display: flex;
    padding: 0;
}

#header-menu {
    color: white;
    margin: 1%;
}

#main-content {
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 70px;
    max-width: 400px;   
}

/*aba lateral*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2%;
    font-size: small;
}

.btn-primary {
    background-color: #15dfdf;
    border-radius: 5px;
    border: none;
}

.btn-primary:hover {
    background-color: #109ca6;
}

.page-link {
    color: #109ca6;
}

a {
    display: flexbox;
    color: #08484d;
    text-decoration: none;
}

.offcanvas-start {
    max-width: 70%;
}

.dropdown-item-logout {
    color: #109ca6;
    margin-left: 1rem;
}

.offcanvas-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
}

/*graficos*/

.row {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.mt-5 {
    margin-bottom: 15px;
}

/*rgba(150, 29, 171, 0.667) : roxo
