/*geral*/
@media screen and (max-width: 451px) {
html{
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    max-width: 1900px;
}

header {
    background-color: #15dfdf;
    padding: 2%;
}

body {
    background-color: rgb(225, 255, 255);
    min-width: 300px;
    max-width: 1900px;
}

a {
    display: flexbox;
    color: #08484d;
    text-decoration: none;
    cursor: pointer;
}

/*login*/
#logo {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    animation-duration: 0.8s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 60%;
      width: 30%;
    }
  
    to {
      margin-left: 35%;
      width: 30%;
    }
  }


#welcome {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#header-login {
    color: white;
    margin: 3%;
    display: flex;
}

#form-login {
    background-color: #78eeee;
    margin: 30% 10%;
    padding: 7%;
    border-radius: 20px;
}

#senha-login {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form-check {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 4px;
    cursor: pointer;
}

.form-check-label {
    margin-top: 2px;
}

#btn-access {
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
}
.btn-primary {
    background-color: #15dfdf;
    border-radius: 5px;
    border: none;
}

.btn-primary:hover {
    background-color: #15dfdf;
    transition: 0.8s;
}

/*menu*/
#botao_titulo {
    display: flex;
    padding: 0;
}

#header-menu {
    color: white;
    margin: 3%;
}

#main-content {
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 90%;
    max-width: 400px;   
}

/*aba lateral*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2%;
    font-size: small;
}

.page-link {
    color: #109ca6;
}

.offcanvas-start {
    max-width: 70%;
}

.dropdown-item-logout {
    color: #109ca6;
    margin-left: 1rem;
}

.offcanvas-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
}

/*graficos*/
.row {
    display: flex;
    flex-direction: column;
    margin: 10% 5%;
}

/*holerite*/

#hrt-cards {
    display: flex;
    flex-direction: column;
    padding: 10%; 
}

.card {
    border-radius: 15px;
}


/*desempenho*/
#hrt-cards-desempenho {
    display: flex;
    flex-direction: column;
    margin: 10%;
    width: 90%;
    max-width: 400px; 
}

#pesquisa-periodo {
    display: flex;
    flex-direction: column;

    margin: 5%;
    width: 90%;

    margin: 10% 5%;
    max-width: 400px; 
    background-color: white;
    
    border-radius: 15px;
    padding: 5%;

}
.btn-secondary.dropdown-toggle {
    background-color: white;
    color: #000;
    border: none;
}

#frase {
    display: flex;
    justify-content: center;
}


}
/*rgba(150, 29, 171, 0.667) : roxo
/*as vezes consigo me surpreender na lerdeza 
